# VS Code files for those working on multiple tools
.vscode/*

# Local History for Visual Studio Code
.history/

# Syncthing Folder
.stfolder

#########################################################################################

# Ignore Blood-N-Wine-Spore-Edition-Export
Blood-N-Wine-Spore-Edition-Export

# Ignore Spore Galactic Adventures Unmodifed Folders
#Spore/__Installer/*
#SPORE Galactic Adventures/__Installer/*
#Spore/Support/*
#SPORE Galactic Adventures/Support/*
#Spore/BP1Data/*
#Spore/Sporebin/*
#SPORE Galactic Adventures/SporebinEP1/Core/*

# Ignore SporebinEP1 Unmodifed Folders and Game Assets
#SporeApp.exe
#SporeApp.exe.Backup
#SporeApp_ModAPIFix.exe

# Ignore Spore Assets in Data Folder
#properties.txt
#version.txt
#Spore_EP1_Locale_02.package
#Spore_EP1_Locale_01.package
#Spore_EP1_Data.package
#Spore_EP1_Content_02.package
#Spore_EP1_Content_01.package

# Ignore Spore Assets in SporebinEP1
#steam_api.dll
#version.txt
#properties.txt
#msvcr90.dll
#msvcr80.dll
#Microsoft.VC90.CRT.manifest
#Microsoft.VC80.CRT.manifest

### Ignore over 100mb files!
/!_Spore-Data/Appdata-Spore/My_Game/Spore.7z
/!_Spore-Data/Appdata-Spore/Pollination_Backup/Modified - No gapro, kept maja45 gaprop and removed shitty creations.7z
/!_Spore-Data/Appdata-Spore/Pollination_Backup/Pollination - Current.7z
mods/0_yes-installed-sporemods/c/!!!!!!2019_DI_9_r_Beta2-3-2.sporemod
mods/no/Darkspore_Music_Mod.package
mods/no/RuneSpore3_MusicMod.7z
mods/no/Project Rehatched Reborn/PRR1.0/!!!!!!!PR_Misc_Textures3.package
mods/no/Project Rehatched Reborn/PRR1.0/!!!!!!PR_GroundTextures.package
mods/no/Project Rehatched Reborn/PRR1.0/!!!!!!PR_misc_Textures1.package
mods/no/Project Rehatched Reborn/PRR1.0/!!!!!!PR_misc_Textures2.package
mods/no/Project Rehatched Reborn/PRR1.0/!!!!!BackgroundRedone2.0.package
tools/Spore ModAPI Launcher Kit/ModConfigs/!!!!!!2019_DI_9_r_Beta2-3-2/!!!!!!2019_DI_9_r_Beta2-3-2_editor_background-!HeroEditorBG.package
tools/Spore ModAPI Launcher Kit/ModConfigs/!!!!!!2019_DI_9_r_Beta2-3-2/!!!!!!2019_DI_9_r_Beta2-3-2_UI-Darkspore.package
tools/Spore ModAPI Launcher Kit/ModConfigs/!!!!!!2019_DI_9_r_Beta2-3-2/!!!!!!2019_DI_9_r_Beta2-3-2_UI-Shimmer.package
tools/Spore ModAPI Launcher Kit/ModConfigs/!!!!!!2019_DI_9_r_Beta2-3-2/!!!!!!2019_DI_9_r_Beta2-3-2_zzFoundation_Res.package
tools/Spore ModAPI Launcher Kit/ModConfigs/!!!!!!2019_DI_9_r_Beta2-3-2/zArenas_Combined.package
tools/Spore ModAPI Launcher Kit/ModConfigs/BruteLOD/SA_BruteLOD.package